<div class="trip responsive-margins-lg">
  
  <div style='height: 1em;'></div>

  <%= image_tag '/thailand_elephant_01.jpg', width: '600', class: 'float-md-end' %>
  <h1>Voyage: Thaïlande (2013)</h1>
  <p>Mon premier voyage à l'extérieur de l'amérique du nord.</p>
  <div style='clear: both;'></div>

  <h2>Activités</h2>
  <%= image_tag '/thailand/activite_01.jpg', width: '600' %>
  <%= image_tag '/thailand/activite_02.jpg', width: '600' %>
  <%= image_tag '/thailand/activite_03.jpg', width: '600' %>
  <%= image_tag '/thailand/activite_04.jpg', width: '600' %>
  <%= image_tag '/thailand/activite_05.jpg', width: '600' %>
  <%= image_tag '/thailand/activite_06.jpg', width: '600' %>
  <%= image_tag '/thailand/activite_07.jpg', width: '600' %>
  <%= image_tag '/thailand/activite_08.jpg', width: '600' %>

  <h2>Animaux</h2>
  <%= image_tag '/thailand/animal_01.jpg', width: '600' %>
  <%= image_tag '/thailand/animal_02.jpg', width: '600' %>
  <%= image_tag '/thailand/animal_03.jpg', width: '600' %>
  <%= image_tag '/thailand/animal_04.jpg', width: '600' %>
  <%= image_tag '/thailand/animal_05.jpg', width: '600' %>
  <%= image_tag '/thailand/animal_06.jpg', width: '600' %>
  <%= image_tag '/thailand/animal_07.jpg', width: '600' %>
  <%= image_tag '/thailand/animal_08.jpg', width: '600' %>
  <%= image_tag '/thailand/animal_09.jpg', width: '600' %>
  <%= image_tag '/thailand/animal_10.jpg', width: '600' %>
  <%= image_tag '/thailand/animal_11.jpg', width: '600' %>
  
  <h2>Bébé éléphant</h2>
  <%= image_tag '/thailand/bebe_elephant_01.jpg', width: '600' %>
  <%= image_tag '/thailand/bebe_elephant_02.jpg', width: '600' %>
  <%= image_tag '/thailand/bebe_elephant_03.jpg', width: '600' %>
  <%= image_tag '/thailand/bebe_elephant_04.jpg', width: '600' %>
  <%= image_tag '/thailand/bebe_elephant_05.jpg', width: '600' %>
  <%= image_tag '/thailand/bebe_elephant_06.jpg', width: '600' %>
  <%= image_tag '/thailand/bebe_elephant_07.jpg', width: '600' %>
  <%= image_tag '/thailand/bebe_elephant_08.jpg', width: '600' %>
  <%= image_tag '/thailand/bebe_elephant_09.jpg', width: '600' %>
  <%= image_tag '/thailand/bebe_elephant_10.jpg', width: '600' %>
  <%= image_tag '/thailand/bebe_elephant_11.jpg', width: '600' %>
  
  <h2>Manger</h2>
  <%= image_tag '/thailand/manger_01.jpg', width: '600' %>
  <%= image_tag '/thailand/manger_02.jpg', width: '600' %>
  <%= image_tag '/thailand/manger_03.jpg', width: '600' %>
  
  <h2>Nature</h2>

  <%= image_tag '/thailand/nature_02.jpg', width: '600' %>
  <%= image_tag '/thailand/nature_03.jpg', width: '600' %>
  <%= image_tag '/thailand/nature_04.jpg', width: '600' %>
  <%= image_tag '/thailand/nature_05.jpg', width: '600' %>
  <%= image_tag '/thailand/nature_06.jpg', width: '600' %>
  <%= image_tag '/thailand/nature_07.jpg', width: '600' %>
  <%= image_tag '/thailand/nature_08.jpg', width: '600' %>
  <%= image_tag '/thailand/nature_10.jpg', width: '600' %>

  <h3>Pae Muang Phi Forest Park</h3>
  <%= image_tag '/thailand/nature_01.jpg', width: '600' %>
  <%= image_tag '/thailand/nature_09.jpg', width: '600' %>

  <h2>Temples</h2>
  <%= image_tag '/thailand/temple_01.jpg', width: '600' %>
  <%= image_tag '/thailand/temple_02.jpg', width: '600' %>
  <%= image_tag '/thailand/temple_03.jpg', width: '600' %>
  <%= image_tag '/thailand/temple_04.jpg', width: '600' %>
  <%= image_tag '/thailand/temple_05.jpg', width: '600' %>
  <%= image_tag '/thailand/temple_06.jpg', width: '600' %>
  <%= image_tag '/thailand/temple_07.jpg', width: '600' %>
  <%= image_tag '/thailand/temple_08.jpg', width: '600' %>
  <%= image_tag '/thailand/temple_09.jpg', width: '600' %>
  <%= image_tag '/thailand/temple_10.jpg', width: '600' %>
  <%= image_tag '/thailand/temple_11.jpg', width: '600' %>
  <%= image_tag '/thailand/temple_12.jpg', width: '600' %>
  <%= image_tag '/thailand/temple_13.jpg', width: '600' %>
  <%= image_tag '/thailand/temple_14.jpg', width: '600' %>
  <%= image_tag '/thailand/temple_15.jpg', width: '600' %>
  <%= image_tag '/thailand/temple_16.jpg', width: '600' %>
  <%= image_tag '/thailand/temple_17.jpg', width: '600' %>
  <%= image_tag '/thailand/temple_18.jpg', width: '600' %>
  
  <h2>Autres</h2>
  <%= image_tag '/thailand/autre_01.jpg', width: '600' %>
  <%= image_tag '/thailand/autre_02.jpg', width: '600' %>
  <%= image_tag '/thailand/autre_03.jpg', width: '600' %>
  <%= image_tag '/thailand/autre_04.jpg', width: '600' %>
  <%= image_tag '/thailand/autre_05.jpg', width: '600' %>
  <%= image_tag '/thailand/autre_06.jpg', width: '600' %>

</div>
