<div class="section">
  <div style="width: fit-content; margin: auto; text-align: center;">
    <h2>Employé autrefois par:</h2>
    <div class="logos">
      <%= image_tag '/hopper.jpeg' %>
      <%= image_tag '/tld.jpeg' %>
      <%= image_tag '/logiflex.jpg' %>
      <%= image_tag '/interprovincial.jpeg' %>
      <%= image_tag '/ppd.png' %>
    </div>
  </div>
</div>
