<%= image_tag '/conception.jpg', width: '100%' %>

<br><br>

<div class="responsive-margins-lg">
  <%= render partial: "projects/cupboard" %>
  
  <div class="section d-md-flex gap-30">
    <%= image_tag_with_credit 'https://wiki.freecadweb.org/images/f/f4/Drawing_extraction.png', '/drawing.png', width: '600' %>
    <div>
      <h2>Expérience: Modélisation 3d</h2>
      <p>Modélisation 3d à l'aide des logiciels Solidworks et Freecad.</p>
      <p>Création et modifications de plans d'assemblages. Conception complète d'un bras robotique 5 axes. Modifications de plans d'ingénierie sous la supervision d'un ingénieur.</p>
      <p>Fabrication de pièces mécaniques concrète à l'aide d'une imprimante 3d.</p>
      <p>Un peu de modélisation plus artistique à l'aide du logiciel Blender.</p>
    </div>
  </div>
  
  <div class="section d-md-flex gap-30">
    <%= image_tag '/welding.jpg', width: '640' %>
    <div>
      <h2>Expérience: Soudage</h2>
      <p>Soudage principalement au MIG et à la baguette.</p>
      <p>Création de gardes de sécurités, d'équipements pour améliorer l'assurance qualité, de supports de toute sorte de forme... Réparation de chariots, de convoyeurs, de moules et de bien d'autres éléments mécaniques.</p>
    </div>
  </div>

  <%= render partial: "home/employed_by" %>
</div>


<%# image_tag '/open_cupboard.jpg' %>
