<div id="home" class="responsive-margins-lg">

  <%= image_tag '/visage.png', 'width': '420', style: 'margin: auto; display: block; max-width: 60vw;' %>
  <br/>
  <p style='width: 600px; max-width: 80%; margin: auto; font-family: IndieFlower; font-size: 1.5em;'>
    <%= tr :welcome_message %>
  </p>
  
  <h2><%= tr(:title_prog) %></h2>

  <div class='d-flex'>
    <div style='width: 280px;'>
      <%= image_tag '/rails-logo.png', 'height': '100', style: 'margin: auto; display: block; margin-bottom: 0.5em; max-height: 10vw;' %>
      <b>Ruby on Rails</b><br/>
      <%= tr(:exp_rails) %>
    </div>
    <div class='flex-grow-1'></div>
    <div style='width: 280px;'>
      <%= image_tag '/react-logo.png', 'height': '100', style: 'margin: auto; display: block; margin-bottom: 0.5em; max-height: 10vw;' %>
      <b>React</b><br/>
      <%= tr(:exp_react) %>
    </div>
    <div class='flex-grow-1'></div>
    <div style='width: 280px;'>
      <%= image_tag '/css-html-logo.png', 'height': '100', style: 'margin: auto; display: block; margin-bottom: 0.5em; max-height: 10vw;', title: 'https://daphyre.deviantart.com/art/HTML5-Logos-and-Badges-380429526' %>
      <b>CSS/HTML</b><br/>
      <%= tr(:exp_css) %>
    </div>
  </div>
  <br/>
  <div class='d-flex'>
    <div style='width: 280px;'>
      <%= image_tag '/cpp-logo.png', 'height': '100', style: 'margin: auto; display: block; margin-bottom: 0.5em; max-height: 10vw;' %>
      <b>C/C++</b><br/>
      <%= tr(:exp_cpp) %>
    </div>
    <div class='flex-grow-1'></div>
    <div style='width: 280px;'>
      <%= image_tag '/godot-logo.png', 'height': '100', style: 'margin: auto; display: block; margin-bottom: 0.5em; max-height: 10vw;' %>
      <b>Godot</b><br/>
      <%= tr(:exp_godot) %>
    </div>
    <div class='flex-grow-1'></div>
    <div style='width: 280px;'>
    </div>
  </div>

  <% if @render_portfolio %>
    <h2>PORTFOLIO FRONT-END</h2>

    <div class='d-flex flex-wrap'>
      <%= render partial: 'portfolio_item', locals: {label: 'hedacuisine.com', url: 'https://www.hedacuisine.com'} %>
      <%= render partial: 'portfolio_item', locals: {label: 'pascalr.github.io/cv', url: no_portfolio_path} %>
    </div>
  <% end %>

  <h2><%= tr(:title_exp) %></h2>

  <%= print_job(tr(:job_title_hopper), 'HOPPER', [tr(:job_desc_hopper_1), tr(:job_desc_hopper_2), tr(:job_desc_hopper_3)]) %>
  <%= print_job(tr(:job_title_ppd), tr(:job_name_ppd), [tr(:job_desc_ppd_1), tr(:job_desc_ppd_2), tr(:job_desc_ppd_3)]) %>
  <%= print_job(tr(:job_title_tld), 'TLD CANADA', [tr(:job_desc_tld_1), tr(:job_desc_tld_2), tr(:job_desc_tld_3)]) %>
  <%= print_job(tr(:job_title_farm), tr(:job_name_farm), [tr(:job_desc_farm_1), tr(:job_desc_farm_2), tr(:job_desc_farm_3)]) %>
  
  <div>
    <h2><%= tr(:title_employers) %></h2>
    <div class="logos">
      <%= image_tag '/hopper.jpeg' %>
      <%= image_tag '/tld.jpeg' %>
      <%= image_tag '/logiflex.jpg' %>
      <%= image_tag '/interprovincial.jpeg' %>
      <%= image_tag '/ppd.png' %>
    </div>
  </div>
</div>
