<%= image_tag '/prog_banner.jpg', width: '100%', style: "border-bottom: 2px solid #555;" %>

<br><br>

<div class="responsive-margins-lg">
  <div class="section d-md-flex gap-30">
    <div class="mb-2" >
      <%= image_tag '/trempette.jpg', width: '640', style: 'border: 10px solid #555' %>
    </div>
    <div>
      <h2>Projet: Site de recettes</h2>
      <p></p>
    </div>
  </div>
  
  <div class="section d-md-flex gap-30">
    <div class="mb-2" style="order: 1;">
      <%= image_tag '/screenshot_sim.jpg', width: '600', style: 'border: 1px solid black;' %>
    </div>
    <div style="flex-shrink: 2; flex-grow: 1;">
      <h2>Projet: Simulation d'un bras robotique robot</h2>
      <p></p>
    </div>
  </div>
  
  <div class="section d-md-flex gap-30">
    <div class="mb-2" >
      <%= image_tag '/screenshot_app.jpg', width: '500', style: 'border: 10px solid #555;' %>
    </div>
    <div>
      <h2>Projet: Application recettes personalisées</h2>
      <p></p>
    </div>
  </div>
  
  <div class="section">
    <div class="d-md-flex gap-30">
      <div class="mb-2" style="order: 1;">
        <%= image_tag '/ladder_no_pub_license.jpg', width: '600', style: 'border: 1px solid #666;' %>
      </div>
      <div style="flex-shrink: 2; flex-grow: 1;">
        <h2>Expérience: Programmation d'automates</h2>
        <p></p>
      </div>
    </div>
  </div>
</div>
