<%= image_tag '/prog_banner.jpg', width: '100%', style: "border-bottom: 2px solid #555;" %>

<br><br>

<div class="responsive-margins-lg">
  <%= render partial: "projects/recipe_website" %>
  <%= render partial: "projects/robot_simulation" %>
  <%= render partial: "projects/recipe_app" %>
  
  <div class="section">
    <div class="d-md-flex gap-30">
      <div class="mb-2" style="order: 1;">
        <%= image_tag '/ladder_no_pub_license.jpg', width: '600', style: 'border: 1px solid #666;' %>
      </div>
      <div style="flex-shrink: 2; flex-grow: 1;">
        <h2>Expérience: Programmation d'automates</h2>
        <p></p>
      </div>
    </div>
  </div>

  <%= render partial: "home/employed_by" %>
</div>
