<div class="responsive-margins-lg">

  <%= render partial: "projects/recipe_website" %>
  <%= render partial: "projects/robot_simulation" %>
  <%= render partial: "projects/recipe_app" %>
  <%= render partial: "projects/robotic_arm" %>
  <%= render partial: "projects/cupboard" %>
  <%= render partial: "projects/jar_label" %>
  <%= render partial: "projects/chuck_laser" %>
  <%= render partial: "projects/couch" %>
  <%= render partial: "projects/mattress_pump" %>
  <%= render partial: "projects/management_website" %>

  </diV>
