<!DOCTYPE html>
<html>
  <head>
    <title>Pascal</title>
    <meta name="viewport" content="width=380,initial-scale=1"/>
    <meta charset="utf-8"/>
    <%# csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "app_css" %>
    <%= javascript_include_tag "application", defer: true %>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <div class='d-flex'>
          <%= link_to_active home_path, class: "navbar-brand" do %>
            <%= image_tag '/visage_tiny.png', 'width': '36', class: 'd-inline-block align-text-middle', style: 'border: 1px solid #555; border-radius: 18px; margin-right: 2px;' %>
            <span class='d-none d-xsm-inline'>Pascal Rainville</span>
          <% end %>
          <% lang = in_english? ? :fr : :en %> 
          <% url = url_for(locale: lang) %>
          <%= link_to url, hreflang: lang, rel: 'alternate', class: 'nav-item nav-link' do %>
            <%= image_tag '/world.svg', 'width': '24', class: 'd-inline-block align-text-middle' %>
            <span style="color: rgba(0, 0, 0, 0.55);"><%= lang == :fr ? 'FR' : 'EN' %></span>
          <% end %>
        </div>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
          <div class="navbar-nav ms-auto mb-2 mb-lg-0">
            <%= link_to_active tr(:navbar_prog), prog_path, class: "nav-item nav-link" %>
            <%= link_to_active tr(:navbar_robot), robot_path, class: "nav-item nav-link" %>
            <%= link_to_active tr(:navbar_conception), conception_path, class: "nav-item nav-link" %>
            <%= link_to_active tr(:navbar_projects), projects_path, class: "nav-item nav-link" %>
            <%= link_to_active tr(:navbar_trips), trips_path, class: "nav-item nav-link" %>
            <div class="dropdown">
              <div class="nav-item nav-link dropdown-toggle clickable" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <%= tr(:navbar_tools) %>
              </div>
              <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <li><%= link_to_active "PID CVAC Delta", pid_path, class: "dropdown-item" %></li>
              </ul>
            </div>
            <%= link_to_active tr(:navbar_about), about_path, class: "nav-item nav-link" %>
            <%= link_to_active tr(:navbar_contact), contact_path, class: "nav-item nav-link" %>
          </div>
        </div>
      </div>
    </nav>
    <div id='root'>
      <%= yield %>
    </div>
  </body>
</html>
