<!DOCTYPE html>
<html>
  <head>
    <title>Pascal</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "app_css" %>
    <%= javascript_importmap_tags %>
    <%= javascript_include_tag "application", defer: true %>
  </head>

  <body>
<% if controller_name == "home" && action_name == "index" %>
<% else %>
<% end %>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container-fluid">
        <%= link_to_active 'Pascal Rainville', home_path, class: "navbar-brand" %>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
          <div class="navbar-nav ms-auto mb-2 mb-lg-0">
            <%= link_to_active 'Programmation', prog_path, class: "nav-item nav-link" %>
            <%= link_to_active 'Robotique', robot_path, class: "nav-item nav-link" %>
            <%= link_to_active 'Conception', conception_path, class: "nav-item nav-link" %>
          </div>
        </div>
      </div>
    </nav>
    <%= yield %>
    <div class="section">
      <div style="width: fit-content; margin: auto; text-align: center;">
        <h2>Employé par:</h2>
        <div class="logos">
          <%= image_tag '/hopper.jpeg' %>
          <%= image_tag '/tld.jpeg' %>
          <%= image_tag '/logiflex.jpg' %>
          <%= image_tag '/interprovincial.jpeg' %>
          <%= image_tag '/ppd.png' %>
        </div>
      </div>
    </div>
  </body>
</html>
